// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boats {
	float: left;
	text-align: center;
	margin-left: 20px;
}

.boat_name {
	font-size: 1.2em;
}

.empty {
	clear: both;
}

.new_boat {
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

.new_boat label {
	margin-top: 30px;
}

input#boat_name, select#boat_location {
	width: 100%;
	display: block;
	text-indent: 5px;
}

input#boat_avatar {
	margin: 0 auto;
}

.submit_button {
	margin: 0 auto;
	display: block;
	margin-top: 30px;
}

.new_job {
	@extend .new_boat;
}

.new_job label {
	margin-top: 30px;
}

.new_job textarea {
	margin-top: 30px;
}

select#job_origin, select#job_destination, textarea#job_description {
	width: 100%;
	display: block;
	text-indent: 5px;
}

input#job_container_amount, input#job_cost {
	width: 20%;
	margin-right: 10px;
}


.job{
	background-color: grey;
	border: outset black 1px;
	text-align: center;
	margin: 10px;
	height: 150px;
}

.boat_info{
	height: 400px;
	text-align: center;
}

.job_description{
	font-size: 16px;
	height: 60px;
}

.job_containers{
	height: 50px;
}

.add_or_remove_btn{
	height: 30px;
	margin-bottom: 10px;
}
