<div class="boat_info">
	<div class="boat_name">
		<p><%= @boat.name %></p>
		</div>
	<div class="boat_location">
		<p><%= @boat.location %></p>
		</div>
	<div class="boat_max">
		<p><%= @boat.container_max %></p>
		</div>
</div>
